<link rel="stylesheet" href="../public/css/style_dash.css"/>

<section id ="cont">
   <div class="titleadd"><h1>AGGIUNGI FORNITORE</h1></div>
<div id="addSupplier" ng-controller="addSupplierController">

        <span>Nome fornitore: </span><input type="text" id="name"></input><br>
        <span>Email: </span><input type="text" id="email"></input><br>
        <span>Numero di Telefono: </span><input type="text" id="tel"></input><br>
        <span>Via: </span><input type="text" id="via"></input><br>
        <span>Città: </span><input type="text" id="city"></input><br>
        <span>Codice avviamento postale (CAP): </span><input type="text" id="cap"></input><br>

        <button ng-click="addSupplier()">Inserisci fornitore</button>

</div>