<html>
<link rel="stylesheet" href="../public/css/style_dash.css"/>
<div class="page">
  <div class="pageHeader">
   <a ui-sref="dashboard"><div class="titletop">Dashboard</div></a>
  </div>
  <div class="main">
    <div class="nav">
      <div class="searchbox">
        <div><i class="fa fa-search"></i>
          <input type="search" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Search"/>
        </div>
      </div>
      <div class="menu">
        <ul>
        <li><div class="iconhome"><a class="home" ui-sref="home" href='#!/'>Homepage</a></div></li>
        <li><div class="iconproduct"><div class="down2"><a class="home">Prodotti</a></div></div>
        <ul class="menuprodotti">
            <li><a href="#!/offerts">Lista</a></li>
            <li><a href="#!/addProduct">Aggiungi prodotto</a></li>
        </ul>
        </li>
        <li><div class="iconorder"><div class="down"><a class="home">Ordini</a></div></div>
        <ul class ="menuordini">
            <li><a href="#!/orders">Da ordinare</a></li>
            <li><a href="#">Ordinati</a></li>
        </ul>
        </li>
        <li><div class="iconprovider"><div class="down2"><a class="home">Fornitori</a></div></div>
        <ul class ="menufornitori">
            <li><a href="#">Lista</a></li>
            <li><a href="#">Aggiungi fornitore</a></li>
        </ul>
        </li>
        <li><div class="iconuser"><a class="home" href="#!/user">Utenti</a></div></li>
        </ul>
      </div>
    </div>
    
    <div class="content"></div>
  </div>  
<html>