<html>
<link rel="stylesheet" href="../public/css/style_dash.css"/>
<div class="page">
  <div class="pageHeader">
   <a ui-sref="home" href='#!/'><div class="titletop">Dashboard</div></a>
  </div>
  <div class="main">
    <div class="nav">
      <div class="searchbox">
        <div><i class="fa fa-search"></i>
          <input type="search" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Search"/>
        </div>
      </div>
      <div class="menu">
        <ul>
        <li><div class="iconhome"><a ui-sref="home" href='#!/'><i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Homepage</a></div></li>
        <li><div class="iconproduct"><a href="#!/offerts"><i class="fa fa-product"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Prodotti</a></div></li>
        <li><div class="iconorder"><div class="down"><a href="#!/orders"><i class="fa fa-orders"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ordini</a></div></div>
        <ul>
            <li><a href="#">Ordinati</a></li>
            <li><a href="#">Da ordinare</a></li>
        </ul>
        </li>
        <li><div class="iconprovider"><a href="#!/providers"><i class="fa fa-providers"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fornitori</a></div></li>
        <li><div class="iconuser"><a href="#!/user"><i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Utenti</a></div></li>
        </ul>
      </div>
    </div>
    
    <div class="content"></div>
  </div>  
<html>