<link rel="stylesheet" href="../public/css/style_dash.css"/>


<section id ="contOrdered">
<div class="tableOrdered">
	<div class="headerOrdered">Gestione Ordini Effettuati</div>
	<div id="orderedForm" ng-controller="orderedController" ng-init="init()">
       
	</div>
	</div>
</div>
</section>