<link rel="stylesheet" href="../public/css/style_dash.css"/>
<section id ="cont">
<div id="orderSuccess" ng-controller="orderSuccessController">   
    
   <div style="margin-left: 50%;">
        Ordine effettuato con successo
    </div>
</section>