<link rel="stylesheet" href="../public/css/style_dash.css"/>


<section id ="contUser">
<div class="tableUser">
	<div id="showUserPage" ng-controller="showUserController" ng-init="showUser()">
	<div class="headerUser">Gestione Utenti</div>
	    <div id="showUserDiv">
	    </div>
	</div>
</div>
</section>