<link rel="stylesheet" href="../public/css/style_dash.css"/>

<section id ="cont">
   <div class="titleadd"><h1>AGGIUNGI PRODOTTO</h1></div>
<div id="addProducts" ng-controller="addProductController">

        <span>Nome prodotto: </span><input type="text" id="name"></input><br>
        <span>Categoria prodotto: </span>
        <select id="selectionForm">
                <option value="Hardware">Hardware</option>
                <option value="Software">Software</option>
                <option value="Pc-Workstation">Pc-Workstation</option>
                <option value="Pc-preconfigurati">Pc-preconfigurati</option>
                <option value="Notebook">Notebook</option>
                <option value="Smartphone">Smartphone</option>
                <option value="Tablet">Tablet</option>
                <option value="Monitor">Monitor</option>
                <option value="Gaming">Gaming</option>
                <option value="Periferiche">Periferiche</option>
                <option value="Cavetteria">Cavetteria</option>
                <option value="Fax">Fax</option>
                <option value="Televisori">Televisori</option>
                <option value="Stampanti-Plotter">Stampanti-Plotter</option>
                <option value="Multifunzione-Copiatrici">Multifunzione-Copiatrici</option>
                <option value="Cd-Dvd">Cd-Dvd</option>
                <option value="Scanner">Scanner</option>
                <option value="Server">Server</option>
                <option value="Memorie-Pendrive">Memorie-Pendrive</option>
                <option value="Audio">Audio</option>
                <option value="Networking">Networking</option>
                <option value="Ebook-readers">Ebook-readers</option>
                <option value="Droni">Droni</option>
        </select><br>
        <span>Peso prodotto: </span><input type="text" id="peso"></input><br>
        <span>Prezzo prodotto: </span><input type="text" id="price"></input><br>
        <span>Quantità prodotto: </span><input type="number" min="0" value='0' id="q"></input><br>

        <span>Immagine prodotto (Dimensione massima 2MB): </span><input type="file" name="pic" accept=".png, .jpg"  id="img"></input>
        <input type="submit" ng-click="loadFile()" value="Carica file"></input><br>

        <span class="desc">Descrizione prodotto: </span><textarea id="desc" rows="4" cols="50"></textarea><br>

        <button ng-click="addProduct()">Inserisci prodotto</button>

</div>