<link rel="stylesheet" href="././public/css/styleCart.css"/>
<div class="cont">
  <div class="headercart">
  <h1> Carrello </h1>
    <div class="price">Prezzo</div>
    <div class="qta">Quantità</div>
    <div class="total">Totale</div>
      <hr>
  </div>
  <div class="prod">
          <div class="img"></div>
          <div class="nomeprod">Samsung Galaxy S8</div>
            <div class="descr">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br>
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco.."
            </div>
            <div class="prezzoprod">&euro;549.00</div>
            <div class="buttoncontainer"><button type="submit" id="submitbutton" ng-click="remove()">Elimina</button></div>
            <div class="qtacart"><input type="number" min="0" value='0' id="q"></input></div>
            <div class="tot">&euro;549.00</div> 
           <br><br><br>

          <div class="img"></div>
          <div class="nomeprod">Samsung Galaxy S8</div>
            <div class="descr">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br>
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco.."
            </div>
            <div class="prezzoprod">&euro;549.00</div>
             <div class="buttoncontainer"><button type="submit" id="submitbutton" ng-click="remove()">Elimina</button></div>
            <div class="qtacart"><input type="number" min="0" value='0' id="q"></input></div>
            <div class="tot">&euro;549.00</div>

          <br><br><br>
          <div class="img"></div>
          <div class="nomeprod">Samsung Galaxy S8</div>
            <div class="descr">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br>
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco.."
            </div>
            <div class="prezzoprod">&euro;549.00</div>
             <div class="buttoncontainer"><button type="submit" id="submitbutton" ng-click="remove()">Elimina</button></div>
            <div class="qtacart"><input type="number" min="0" value='0' id="q"></input></div>
            <div class="tot">&euro;549.00</div>
            </div>

            <hr>
              <div class="subtotaltit">Totale</div><div class="subtotal">&euro;1000</div>
              <div class="taxtit">Tasse (%22)</div><div class="tax">&euro;220</div>  
              <div class="shippingtit">Spese di spedizione</div><div class="shipping">&euro;10</div>
              <div class="grantotaltit">Prezzo finale</div><div class="grantotal">&euro;1230</div> 
              <div class="buttoncontainer2"><button type="submit" id="submitbutton" ng-click="checkout()">Acquista</button></div>   
</div>
        <footer class="footer">
            <div class="titlefooter">Master Cart Record</div>
          
                Ardito Cristina &nbsp;&nbsp; Contigiani Mattia &nbsp;&nbsp; Ribera Marco  &nbsp;&nbsp;&copy;2017 - All rights reserved.
        </footer>
                    
