<link rel="stylesheet" href="././public/css/styleCart.css"/>
<div class="cont">
  <div class="headercart">
  <h1> Carrello </h1>
    <div class="price">Prezzo</div>
    <div class="qta">Quantità</div>
    <div class="total">Totale</div>
      <hr>
  </div>
  <div class="prod">
          <div class="img"></div>
          <div class="nomeprod">Samsung Galaxy S8</div>
            <div class="descr">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br>
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco.."
            </div>
            <div class="prezzoprod">&euro;549.00</div>
            <input type="number" min="0" value='0' id="q"></input>
            <div class="tot">&euro;549.00</div>
  </div>   
    <div class="prod">
          <div class="img"></div>
          <div class="nomeprod">Samsung Galaxy S8</div>
            <div class="descr">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br>
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco.."
            </div>
            <div class="prezzoprod">&euro;549.00</div>
            <input type="number" min="0" value='0' id="q"></input>
            <div class="tot">&euro;549.00</div>
  </div> 
    <div class="prod">
          <div class="img"></div>
          <div class="nomeprod">Samsung Galaxy S8</div>
            <div class="descr">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br>
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco.."
            </div>
            <div class="prezzoprod">&euro;549.00</div>
            <input type="number" min="0" value='0' id="q"></input>
            <div class="tot">&euro;549.00</div>
            </div>
  </div>        
</div>            
