<link rel="stylesheet" href="././public/css/styleCart.css"/>
<div class="cont">
  <div class="headercart">
  <h1> Carrello </h1>
    <div class="price">Prezzo</div>
    <div class="qta">Quantità</div>
    <div class="total">Totale</div>
      <hr>
  </div>
  <div class="prod">
  <div id="showProduct" ng-init="getCart()">
  </div>
  <div>
      <hr><div class="subtotaltit">Totale</div><div class="subtotal" ng-model="subtotal">&euro; {{ subtotal }}</div>
      <div class="taxtit">Tasse (22%)</div><div class="tax" ng-model="tax">&euro; {{ tax }}</div>
      <div class="shippingtit">Spese di spedizione</div><div class="shipping">&euro; 8</div>
      <div class="grantotaltit">Prezzo finale</div><div class="grantotal" ng-model="total">&euro; {{ total }}</div>
      <div class="buttoncontainer2"><button type="submit" id="submitbutton" ng-click="checkout()">Acquista</button></div></hr>
  </div>
  <footer class="footer">
      <div class="titlefooter">Master Cart Record</div>
    
          Ardito Cristina &nbsp;&nbsp; Contigiani Mattia &nbsp;&nbsp; Ribera Marco  &nbsp;&nbsp;&copy;2017 - All rights reserved.
  </footer>
                    
