<link rel="stylesheet" href="././public/css/styleCategorie.css"/>
<div class="cont" ng-controller="categoryController">

	  <section class="cat" id="showCat" ng-init="showCategoriesInit()">
	  </section>
	  
	  <section class="panel" id="categoryForm" ng-init="showCategoriesList()">
	  </section>

</div>	  
        <footer class="footer">
            <div class="titlefooter">Master Cart Record</div>
          
                Ardito Cristina &nbsp;&nbsp; Contigiani Mattia &nbsp;&nbsp; Ribera Marco  &nbsp;&nbsp;&copy;2017 - All rights reserved.
        </footer>	  