<link rel="stylesheet" href="././public/css/style_dash.css"/>
<div class="page">
  <div class="pageHeader">
    <div class="title">Dashboard</div>
  </div>
  <div class="main">
    <div class="nav">
      <div class="searchbox">
        <div><i class="fa fa-search"></i>
          <input type="search" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Search"/>
        </div>
      </div>
      <div class="menu">
        <div class="title">Menu</div>
        <ul>
          <li> <i class="fa fa-home"></i>Home</li>
          <li><a href="#!/prodotti" class="fa fa-product" >Prodotti</a></li>
          <li class="active"> <i class="fa fa-provider"></i>Fornitori</li>
        </ul>
      </div>
    </div>
  </div>
  </div>  
    