<link rel="stylesheet" href="././public/css/styleDashome.css"/>
<div class="cont">
	<div class="chart">
		<div class="chart-header">Titolo</div>
		<canvas id="line" class="chart chart-line" chart-data="data"
		chart-labels="labels" chart-series="series" chart-options="options"
		chart-dataset-override="datasetOverride" chart-click="onClick">
		</canvas>
	</div>

</div>

