<link rel="stylesheet" href="../public/css/style_dash.css"/>
<div class="page">
  <div class="pageHeader">
    <div class="title">Dashboard</div>
  </div>
  <div class="main">
    <div class="nav">
      <div class="searchbox">
        <div><i class="fa fa-search"></i>
          <input type="search" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Search"/>
        </div>
      </div>
      <div class="menu">
        <div class="title">Menu</div>
        <ul>
        <li><a href="#/"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#/product"><i class="fa fa-product"></i> Prodotti</a></li>
        <li><a href="#/orders"><i class="fa fa-orders"></i> Ordini</a></li>
        <li><a href="#/providers"><i class="fa fa-providers"></i> Fornitori</a></li>
        <li><a href="#/user"><i class="fa fa-user"></i> Utenti</a></li>
        </ul>
      </div>
    </div>
    <div class="content"></div>
  </div>  
    