<link rel="stylesheet" href="././public/css/styleDashome.css"/>
<div class="cont">
	<div id="chart" ng-init="chartOne()"></div>
	<div id="chartwo" ng-init="chartTwo()"></div>
		<div class="usericon"></div><div class="usercounter"><span><h2>100</h2>new Users</span></div>
	<div class="producticon"></div><div class="productcounter"><span><h2>100</h2>Products</span></div>
	<div class="ordersicon"></div><div class="orderscounter"><span><h2>100</h2>new Orders</span></div>
</div>

