<link rel="stylesheet" href="../public/css/style_dash.css"/>

<section id ="cont">
   <div class="titledit"><h1>MODIFICA INFORMAZIONI FORNITORE</h1></div>
<div id="editSupplier" ng-controller="editSupplierController" ng-init="init()">
</div>