<link rel="stylesheet" href="././public/css/stylehome.css"/>
<div class="cont">
	  <div class="banner"></div>
	  <div class="banner2"></div>
	  <div class="banner3"></div>
      <section class="panel">
      	      <div class="title" >&nbsp;Categorie </div>
		      <ul>
		      <li><a href='#'>&nbsp; &#x21AA; Hardware</a></li>
		        <hr>
		        <li><a href="#">&nbsp; &#x21AA; Software</a></li>
		        <hr>
		        <li><a href='#'>&nbsp; &#x21AA; Pc / Workstation</a></li>
		        <hr>
		        <li><a href="#">&nbsp; &#x21AA; Pc preconfigurati</a></li>
		        <hr>
		        <li><a href="#">&nbsp; &#x21AA; Notebook</a></li>
		        <hr>
		        <li><a href="#">&nbsp; &#x21AA; Smartphone</a></li>
		        <hr>
		        <li><a href="#">&nbsp; &#x21AA; Tablet</a></li>
		        <hr>
		        <li><a href="#">&nbsp; &#x21AA; Monitor</a></li>
		        <hr>
		        <li><a href="#">&nbsp; &#x21AA; Gaming</a></li>
		        <hr>
		        <li><a href="#">&nbsp; &#x21AA; Periferiche</a></li>
		        <hr>
		        <li><a href="#">&nbsp; &#x21AA; Cavetteria</a></li>
		        <hr>
		        <li><a href="#">&nbsp; &#x21AA; Fax</a></li>
		        <hr>
		        <li><a href="#">&nbsp; &#x21AA; Televisori</a></li>
		        <hr>
		        <li><a href="#">&nbsp; &#x21AA; Stampanti / Plotter</a></li>
		        <hr>
		        <li><a href="#">&nbsp; &#x21AA; Multifunzione / Copiatrici</a></li>
		        <hr>
		        <li><a href="#">&nbsp; &#x21AA; Cd / Dvd</a></li>
		        <hr>
		        <li><a href="#">&nbsp; &#x21AA; Scanner</a></li>
		        <hr>
		        <li><a href="#">&nbsp; &#x21AA; Server</a></li>
		        <hr>
		        <li><a href="#">&nbsp; &#x21AA; Memorie / Pendrive</a></li>
		        <hr>
		        <li><a href="#">&nbsp; &#x21AA; Audio</a></li>
		        <hr>
		        <li><a href="#">&nbsp; &#x21AA; Networking</a></li>
		        <hr>
		        <li><a href="#">&nbsp; &#x21AA; E-book readers</a></li>
		        <hr>
		        <li><a href="#">&nbsp; &#x21AA; Droni</a></li>
		        <hr>
		      </ul>  
		            </section>
<ng-fader></ng-fader>
	  <div class="titolo_vetrina">VETRINA PRODOTTI </div>
      <section class="vetrina">
      		<div class="product">
      		<a href=#!/singleproduct>
      		<div class="nome">Samsung Galaxy S8</div>
            <ul>
                  <li></li>
                  <li><div class="prezzo">&euro;549.00</div></li>
            </ul>
            </a>
            </div>
            <div class="product">
            <div class="nome">Samsung Galaxy S8</div>
            <ul>
                  <li></li>
                  <li><div class="prezzo">&euro;549.00</div></li>
            </ul>
            </div>
            <div class="product">
            <div class="nome">Samsung Galaxy S8</div>
            <ul>
                  <li></li>
                  <li><div class="prezzo">&euro;549.00</div></li>
            </ul>
            </div>
            <div class="product">
            <div class="nome">Samsung Galaxy S8</div>
            <ul>
                  <li></li>
                  <li><div class="prezzo">&euro;549.00</div></li>
            </ul>
    	    </div>

      </section>
</div>
        <footer class="footer">
            <div class="titlefooter">Master Cart Record</div>
          
                Ardito Cristina &nbsp;&nbsp; Contigiani Mattia &nbsp;&nbsp; Ribera Marco  &nbsp;&nbsp;&copy;2017 - All rights reserved.
        </footer>