<!-- index.html -->
    <!DOCTYPE html>
    <html ng-app="pwApp">
    <head>
      <!-- SCROLLS -->
      <!-- load bootstrap and fontawesome via CDN -->

      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
	  <link rel="stylesheet" href="././public/css/style_login.css"/>
    <link rel="stylesheet" href="././public/css/style.css"/>

      <!-- SPELLS -->
      <!-- load angular and angular route via CDN -->
       <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
	  <script src="././public/js/route.js"></script>
	  <script src="././public/js/login.js"></script>
	  <script src="././public/js/signup.js"></script>      
      <script src="././public/js/main.js"></script>
      <script src="././public/js/products.js"></script>
	  <script src="././public/js/service/currentUser.js"></script>

    </head>
    <body ng-controller="mainController">

        <!-- HEADER AND NAVBAR -->
        <header>
           
            <div class="header">
                <div class="logo">
                    <a class="logol" href="/">E-commerce</a>
                </div>
            <div class="searchbox">
             <form>
             <input type="search" class="form-control" placeholder="Search"/>
                 <button type="submit" id="submitbutton" 
            class="idbutton" ></button>
            </form>
             </div>
                <div class="shopCar">
                <span class="shopText">Carrello</span>
                <a href="#">
                    <span class="shopNum">0</span>
                </a>

            </div>
                <ul class="navtop">


                    <li><a href="#!/login"><i class="fa fa-login"></i> Login</a></li>
                    <li><a href="#!/signup"><i class="fa fa-signup"></i> Signup</a></li>

                </ul>
            </div>
            
        </header>

        <!-- MAIN CONTENT AND INJECTED VIEWS -->
        <div id="main">

            <div ng-view>
            <!-- angular templating -->
            <!-- this is where content will be injected -->

            </div>
        </div>

    </body>
    </html>
