<!-- index.html -->
    <!DOCTYPE html>
    <html ng-app="pwApp">
    <head>

      <!-- SPELLS -->
      <!-- load angular and angular route via CDN -->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-touch.min.js"></script>
      <script src="libs/TweenMax.min.js"></script>
	  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCiFBIu2HzRbX9caQ1ToLYDPYn9ZjgANyY"></script>
    <script type="text/javascript" src="node_modules/angular-chart.js/tmp/bower_components/chart.js/dist/Chart.min.js"></script>
<script type="text/javascript" src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
      <script src='libs/loadash.js'></script>
      <script src='libs/angular-simple-logger.js'></script>
      <script src='libs/angular-google-maps.min.js'></script>
      <script src="././public/js/core/ui.router.js"></script>
	  <script src="././public/js/route.js"></script>
	  <script src="././public/js/login.js"></script>
	  <script src="././public/js/signup.js"></script>
      <script src="././public/js/main.js"></script>
      <script src="././public/js/products.js"></script>
      <script src="././public/js/service/currentUser.js"></script>
      <script src="././public/js/toOrder.js"></script>
      <script src="././public/js/ngFader.js"></script>
      <script src="././public/js/where.js"></script>
      <script src="././public/js/dashome.js"></script>
      <script src="././public/js/service/dataStore.js"></script>
      <script src="././public/js/service/productsHandling.js"></script>
      <script src="././public/js/service/fileLoad.js"></script>
      <script src="././public/js/userForm.js"></script>

    </head>
    <body ng-controller="mainController">

        <!-- HEADER AND NAVBAR -->

        <div class="viewWrap">
        <div ui-view ng-controller="MyCtrl">

        </div>
        </div>
        <!-- MAIN CONTENT AND INJECTED VIEWS -->
        <div id="main">

            <div ng-view>
            <!-- angular templating -->
            <!-- this is where content will be injected -->

            </div>
        </div>

    </body>
    </html>
