<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Our App</title>

	<!-- JS -->
	<!-- load all the js needed for the site -->
	<script src="js/angular.min.js"></script>

	<!-- CSS -->
	<!-- loading stylesheet -->
	<link rel="stylesheet" href="css/style.css">

</head>
<body>
We are using Node.js <script>document.write(process.versions.node)</script>,
and Angular <script>document.write(process.versions.angular)</script>.
	
</body>
</html>