<script type="text/javascript" src="angular.min.js"></script>
<link rel="stylesheet" href="css/style_log1.css"/>
<section id ="cont">
<div id="login">
    <form method="post">
        <div class="form-group">
        <h1>Login</h1>
        <label for="nome">E-mail</label>
        <input type="text" class="form-control"
               ng-model="username"
               placeholder="Inserisci l'email" size="50"
               id="nome" name="username" required>
        </div>
        <div class="form-group">
        <label for="psw">Password</label>
        <input type="password" class="form-control"
               ng-model="password"
               placeholder="Inserisci la password" size="50"
               id="psw" name="password" required>
        </div>
    <button type="submit" id="submitbutton" 
            class="btn btn-default">Login</button>
    </form>
    &nbsp;&nbsp;
    <div class="button">
						<a href="#">Non sei ancora registrato?</a>
					</div><!-- button -->
</div>
</section>