<link rel="stylesheet" href="../public/css/style.css"/>
<link rel="stylesheet" href="../public/css/styleOffers.css"/>
<div class="cont">
	  <div class="titolo_vetrina">OFFERTE DEL GIORNO </div>
      <section class="vetrina">
      		<div class="product">
      		<a href=#!/singleproduct>
      		<div class="nome">Samsung Galaxy S8</div>
            <ul>
                  <li></li>
                  <li><div class="prezzo">&euro;549.00</div></li>
            </ul>
            </a>
            </div>
            <div class="product">
            <div class="nome">Samsung Galaxy S8</div>
            <ul>
                  <li></li>
                  <li><div class="prezzo">&euro;549.00</div></li>
            </ul>
            </div>
            <div class="product">
            <div class="nome">Samsung Galaxy S8</div>
            <ul>
                  <li></li>
                  <li><div class="prezzo">&euro;549.00</div></li>
            </ul>
            </div>
            <div class="product">
            <div class="nome">Samsung Galaxy S8</div>
            <ul>
                  <li></li>
                  <li><div class="prezzo">&euro;549.00</div></li>
            </ul>
    	    </div>
    	    <div class="product">
            <div class="nome">Samsung Galaxy S8</div>
            <ul>
                  <li></li>
                  <li><div class="prezzo">&euro;549.00</div></li>
            </ul>
    	    </div>
    	    <div class="product">
            <div class="nome">Samsung Galaxy S8</div>
            <ul>
                  <li></li>
                  <li><div class="prezzo">&euro;549.00</div></li>
            </ul>
    	    </div>
    	    <div class="product">
            <div class="nome">Samsung Galaxy S8</div>
            <ul>
                  <li></li>
                  <li><div class="prezzo">&euro;549.00</div></li>
            </ul>
    	    </div>
    	    <div class="product">
            <div class="nome">Samsung Galaxy S8</div>
            <ul>
                  <li></li>
                  <li><div class="prezzo">&euro;549.00</div></li>
            </ul>
    	    </div>    	    
      </section>
</div>
        <footer class="footer">
            <div class="titlefooter">Master Cart Record</div>
          
                Ardito Cristina &nbsp;&nbsp; Contigiani Mattia &nbsp;&nbsp; Ribera Marco  &nbsp;&nbsp;&copy;2017 - All rights reserved.
        </footer>