<link rel="stylesheet" href="../public/css/style_dash.css"/>


<section id ="contOrdered">
<div class="tableOrdered">
	<div class="headerOrdered">Gestione Ordini Effettuati</div>
       <table cellspacing='0'>
	        <tr>
		        <th>Email</th>
		        <th>Data</th>
		        <th>Nome prodotto</th>
		        <th>Quantità</th>
	        </tr>
			<tr>
				<td>aaa@aaaa.it</td>
		        <td>15-08-2020</td>
		        <td>Iphone6</td>
		        <td>200</td>
	        </tr>
	        <tr>
		        <td>aaa@aaaa.it</td>
		        <td>15-08-2020</td>
		        <td>Iphone6</td>
		        <td>2</td>
	        </tr>
       </table> 
	</div>
</div>
</section>