<link rel="stylesheet" href="../public/css/style_dash.css"/>
<section id ="cont">
<div id="order" >   
    
    <div class="title"><p>Ordini</p></div>

    <ul ng-bind-html="orders" ng-controller="orderController">
    </ul>

</div>
</section>