<link rel="stylesheet" href="../public/css/style_dash.css"/>
<script src="././public/js/orderSuccess.js"></script>
<section id ="cont">
<div id="orderSuccess" ng-controller="orderSuccessController">   
    
   <div>
        Ordine effettuato con successo
    </div>
</section>