<link rel="stylesheet" href="../public/css/style_dash.css"/>

<section id ="cont">
<div id="products">
    
      <div class="searchboxproduct">
          <input type="search" placeholder="Search product"/>
      </div>

      <section class="panel">
      	      <div class="title" > Categorie </div>
      <ul>
        <li><a href='#'>Computer</a></li>
        <li><a href="#">Smartphone</a></li>
        <li><a href="#">Altro</a></li>
        <li><a href="#">Altro</a></li>
        <li><a href="#">Altro</a></li>
      </ul>  
      </section>
    <ul ng-bind-html="showProdotti" >
    </ul>

</div>
</section>