<link rel="stylesheet" href="../public/css/style_dash.css"/>

<section id ="cont">
<div id="products">
    
      <div class="searchboxproduct">
          <input type="search" id="searchBox" placeholder="Search product" ng-keyup="event = $event; callOnEnter(event);"/>
      </div>

      <section class="panel" id="categoryForm" ng-init="showCategories()">
      </section>
    <div class='table' id="productForm" ng-controller="productsController" ng-init="showProducts(0)">
    </div>

</div>
</section>