<link rel="stylesheet" href="../public/css/style_dash.css"/>

<section id ="cont">
<div id="products">
    
    <div class="title"><p>Prodotti</p></div>

    <ul ng-bind-html="showProdotti" >
    </ul>

</div>
</section>