<link rel="stylesheet" href="../public/css/style_dash.css"/>

<section id ="cont">
<div id="products">
    
      <div class="searchboxproduct">
          <input type="search" placeholder="Search product"/>
      </div>

      <section class="panel">
      	      <div class="title" > Categorie </div>
      <ul>
        <li><a href='#'>&nbsp; &#x21AA; Computer</a></li>
        <li><a href="#">&nbsp; &#x21AA; Smartphone</a></li>
        <li><a href="#">&nbsp; &#x21AA; Altro</a></li>
        <li><a href="#">&nbsp; &#x21AA; Altro</a></li>
        <li><a href="#">&nbsp; &#x21AA; Altro</a></li>
      </ul>  
      </section>
    <form id="productForm" ng-controller="productsController" ng-init="showProducts()">
    </form>

</div>
</section>