<link rel="stylesheet" href="../public/css/style_dash.css"/>

<section id ="cont">
<div id="showUserPage" ng-controller="showUserController" ng-init="showUser()">

    <div id="showUserDiv">
    </div>

</div>
</section>