<link rel="stylesheet" href="../public/css/style_dash.css"/>

<section id ="contSupplier">
<div class="tableUser">
	<div id="showSupplierPage" ng-controller="showSupplierController" ng-init="showSupplier()">
	<div class="headerUser">Gestione Fornitori</div>
	    <div id="showSupplierDiv">
	    </div>
	</div>
</div>
</section>