<section id ="cont">
<div id="login">
    <form>
        <div class="form-group">
        <h1>Signup</h1>
        <label for="nome">Nome</label>
        <input type="text" class="form-control"
               ng-model="username"
               placeholder="Inserisci il nome" size="50"
               id="nome" name="username" required>
        </div>
        <div class="form-group">
         <label for="email">E-mail</label>
        <input type="text" class="form-control"
               ng-model="usermail"
               placeholder="Inserisci l'email" size="50"
               id="email" name="usermail" required>
        </div>
        <div class="form-group">
        <label for="psw">Password</label>
        <input type="password" class="form-control"
               ng-model="password"
               placeholder="Inserisci la password" size="50"
               id="psw" name="password" required>
        </div>
    <button type="submit" id="submitbutton" 
            class="btn btn-default"  ng-click="signup()">Signup</button>
    </form>
</div>
</section>