<link rel="stylesheet" href="././public/css/stylehome.css"/>
<link rel="stylesheet" href="././public/css/stylesingleproduct.css"/>
			<a href="#"><div class="prec"></div></a>
<div class="cont" id="signleProduct" ng-init="showSingleProduct()" ng-controller="singleController">
</div>  
<footer class="footer">
            <div class="titlefooter">Master Cart Record</div>
          
                Ardito Cristina &nbsp;&nbsp; Contigiani Mattia &nbsp;&nbsp; Ribera Marco  &nbsp;&nbsp;&copy;2017 - All rights reserved.
</footer>