<link rel="stylesheet" href="././public/css/styleUser.css"/>

<div class="cont">
	<div class="container">
	        <h1>About Me</h1>
		<div class="img"></div>

		<div class="title"><h3>Contact Information</h3></div>
		<div class="nome"> Nome: <span>Nome nome</span> </div>
		<div class="email"> E-mail: <span>prova@prova.it </span></div>
		<button class="btn" ng-click="edit()">Edit profile</button>
	</div>
</div>
        <footer class="footer">
            <div class="titlefooter">Master Cart Record</div>
          
                Ardito Cristina &nbsp;&nbsp; Contigiani Mattia &nbsp;&nbsp; Ribera Marco  &nbsp;&nbsp;&copy;2017 - All rights reserved.
        </footer>