<link rel="stylesheet" href="././public/css/styleUser.css"/>

<div class="cont">
	<div class="container">
	        <h1>About Me</h1>
		<div class="img" ng-controller="userEditController"></div>

		<div id="profile" ng-init="init()">
		</div>

		
	</div>
</div>
        <footer class="footer">
            <div class="titlefooter">Master Cart Record</div>
          
                Ardito Cristina &nbsp;&nbsp; Contigiani Mattia &nbsp;&nbsp; Ribera Marco  &nbsp;&nbsp;&copy;2017 - All rights reserved.
        </footer>