<style> 
.map {
	margin-left: 20%;
	margin-top: 3%;
}
.angular-google-map-container { 
	height: 500px;
	width: 70%; 
}
.footer {
    position: relative;
    background-color: #232f3e;
    width: 100%;
    height: 10%;
    margin-top: 30%;
    color: #FFF;
    text-align: center;
    margin-left: 5px;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    margin-bottom: 5px;
}
.titlefooter {
    font-size: 1.2em;
} 
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px){
    .angular-google-map-container { 
        height: 400px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 1000px){
  .footer {
      margin-top: 140%;
  }    
}
</style>
<div class="map">
	<h3>Polo Informatico "Carla Ludovici" </h3>
	Via Madonna delle Carceri, 9
	62032 Camerino (MC) - Italy
	<br><br>
	  <ui-gmap-google-map center='map.center' zoom='map.zoom' aria-label="Google map">
	    <ui-gmap-marker ng-repeat="marker in markers" coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
	      <ui-gmap-window>
	        <div>{{marker.window.title}}</div>
	      </ui-gmap-window>
	    </ui-gmap-marker>
	  </ui-gmap-google-map>
</div>  
        <footer class="footer">
            <div class="titlefooter">Master Cart Record</div>
          
                Ardito Cristina &nbsp;&nbsp; Contigiani Mattia &nbsp;&nbsp; Ribera Marco  &nbsp;&nbsp;&copy;2017 - All rights reserved.
        </footer>