* {
  margin:0px; 
  padding:0px;
  font-family: "Open Sans";
}

.pageHeader {
  position: relative;
  display: block;
  width: 100%;
  height: 55px;
  background-position: top;
  background-color: #3f51b5;
  color: White;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 20px;
  vertical-align: middle;
}

.pageHeader .titletop {
  position: absolute;
  display: block;
  color: White;
  text-decoration: none;
  text-transform: uppercase;
  width: 40%;
  font-family: 'Pinyon Script', cursive;
  float: left;
  line-height: 40px;
  font-size: 1.5em;
  font-weight: 700;
}

.pageHeader .titletop:hover {
  text-shadow: 0px 0px 8px #FFFFFF;
}

/*------- MENU -------*/
.nav {
  top: 5.8%;
  position: absolute;
  display: block;
  width: 15%;
  float: left;
  height: 105%;
  background-color: #7986cb;
}

.menu {
  height: 85%;
  width: 18%;
  float: left;
  position: absolute;
  display: block;
  margin-top: 18%;
  color: #212121;
}

.title {
  font-weight: 700;
  font-size: 1.1em;
  text-transform: uppercase;
  margin-left: 50%;
}

.menu ul {
  padding-left: 0%;
}

    .menu ul li{ 
      font-size: 1.0em; 
    }

.main .nav .menu ul li {
  cursor: pointer;
  list-style: none;
  width: 518%;
  padding: 20%;
  font-weight: 600;
  transition: 0.25s all;
}

.menu li a {
  text-decoration: none;
   color: #212121;
}

.menu .iconhome {
  background: url(../img/icon/homeicon.png) 10px no-repeat;
}

.menu .iconproduct {
    background: url(../img/icon/producticon.png) 10px no-repeat;
}
.menu .iconuser {
    background: url(../img/icon/usersicon.png) 10px no-repeat;
}
.menu .iconprovider {
    background: url(../img/icon/providericon.png) 10px no-repeat;
}
.menu .iconorder {
    background: url(../img/icon/ordersicon.png) 10px no-repeat;
}
.main .nav .menu ul li:hover {
  background-color: #3f51b5;

}
.main .nav .menu ul li i {
  font-size: 1.4em;
  margin-right: 10px;
}

.home {
  margin-left: 15%;
}

.menu .down {
  width: 100%;
   background: url("../img/icon/arrows-black.png")  no-repeat;
   background-position: left 100px top 8px;
}

.menu .down2 {
  width: 100%;
   background: url("../img/icon/arrows-black.png")  no-repeat;
   background-position: left 120px top 8px;
} 

ul.menuprodotti{
  z-index: 999;
  background-color: #7986cb;
  width: 70%;
  padding-right: 150px;
    position: absolute;
    top: 5%;
    margin-left: 535%;
    visibility: hidden;
}

ul.menuordini{
  z-index: 999;
  background-color: #7986cb;
  width: 70%;
  padding-right: 150px;
  position: absolute;
  top: 10%;
  margin-left: 535%;
  visibility: hidden;
}

ul.menufornitori{
  z-index: 999;
  background-color: #7986cb;
  width: 70%;
  padding-right: 150px;
    position: absolute;
    top: 15%;
    margin-left: 535%;
    visibility: hidden;
}

.menu ul li:hover ul {
    visibility: visible;
    width: 63%;
}

/*------- PRODOTTI ------- */
.searchboxproduct {
  width: 18%;
  border-radius: 4px;
  height: 4%;
  line-height: 30px;
  margin-left: 18%;
  margin-top: 1%;
  background-color: White;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.searchboxproduct input {
  background-color: #c5cae9;
  border-radius: 4px;
  background: url(../img/icon/searchbox.ico) 310px no-repeat;
  padding-left: 2%;
  width: 100%;
  display: inlin-block;
  height: 34px;
  color: Black;
  font-family: "Lato";
  border: 1px solid Black;
  font-size: 1em;
}

.panel .title {
  color: White;
  background-color: #4D4D4D;
  margin-top: 5%;
  margin: 0px;
  padding: 3px;
  border: 1px solid Black;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 2px;
}

.panel {
  text-decoration: none;
  height: 50%;
  width: 14%;
  margin-left: 18%;
  margin-top: 2%;

}

.panel li {
  padding: 4px;
  list-style: none;
}

.panel li a{
  width: 100%
  height: 100%;
  color: Black;
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.panel li:hover {
  background-color: #3576B6;
  padding: 4px;
}

.panel hr {
  border-style: dotted;
  border-bottom: 5px #999933;
}

#products{
  width: 100%;
  height: 100%;
}

.title {
  top:5%;
  color: Black;
  height: 15%;
}

.table {
  margin-top: -43%;
  margin-left: 35%;
}

.product {
  cursor: pointer;
  position: relative;
  float: left;
  width: 23%;
  margin-left: 17%;
  margin-top: 3%;
  background-color: #F4F7F7;
  color: #000;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  -moz-transition: -moz-transform 0.4s ease-in-out;
  -o-transition: -o-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out; 
}

.product:hover {
  z-index: 999;
  -webkit-transform: scale(1.1, 1.2);
  -moz-transform: scale(1.1, 1.2);
  -o-transform: scale(1.1, 1.2);
  transform: scale(1.1, 1.2);
}

.product h2 {
  color: Black !important;
  text-align: center;
  text-transform: uppercase;
  margin: 0.8em 0 .4em;
  font-size: 1.1em;
}

.product span{
  color: #3476B6;
}

.product ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.product li{
  font-size: 1em;
  padding: 8px;
  text-align: center;
}

.product li:first-child{
 padding: 2.1em;
  font-size: 1.6em;
  text-shadow: 0px -1px 1px #000;
}

button.btn{
  cursor: pointer;
  width: 110px;
  float: left;
  padding: 5px 0;
  margin-bottom: 1.5%;
  margin-left: 8%;
  border-radius: 14px;
  color: #F4F7F7;
  text-decoration: none;
  font-size: 1.1em;
  text-shadow: 0px -1px 2px #000;
  border: 1px solid #607176;
  background: #607176;
  background: -o-linear-gradient(top, #b3d3dc 0%, #abc9d2 2%, #6d8086 97%, #607176 100%);
  background: -moz-linear-gradient(top, #b3d3dc 0%, #abc9d2 2%, #6d8086 97%, #607176 100%);
  background: -webkit-linear-gradient(top, #b3d3dc 0%, #abc9d2 2%, #6d8086 97%, #607176 100%);
  background: linear-gradient(top, #b3d3dc 0%, #abc9d2 2%, #6d8086 97%, #607176 100%);
}

button.btnremove{
  cursor: pointer;
  width: 110px;
  padding: 5px 0;
  margin-left: 2%;
  margin-top: -6%;
  float: left;
  border-radius: 14px;
  color: #F4F7F7;
  text-decoration: none;
  font-size: 1.1em;
  text-shadow: 0px -1px 2px #000;
  border: 1px solid #607176;
  background: #607176;
  background: -o-linear-gradient(top, #b3d3dc 0%, #abc9d2 2%, #6d8086 97%, #607176 100%);
  background: -moz-linear-gradient(top, #b3d3dc 0%, #abc9d2 2%, #6d8086 97%, #607176 100%);
  background: -webkit-linear-gradient(top, #b3d3dc 0%, #abc9d2 2%, #6d8086 97%, #607176 100%);
  background: linear-gradient(top, #b3d3dc 0%, #abc9d2 2%, #6d8086 97%, #607176 100%);
}

button.btn:hover,
button.btn:focus,
button.btnremove:hover,
button.btnremove:focus {
  background: -o-linear-gradient(bottom, #b3d3dc 0%, #abc9d2 2%, #6d8086 97%, #607176 100%);
  background: -moz-linear-gradient(bottom, #b3d3dc 0%, #abc9d2 2%, #6d8086 97%, #607176 100%);
  background: -webkit-linear-gradient(bottom, #b3d3dc 0%, #abc9d2 2%, #6d8086 97%, #607176 100%);
  background: linear-gradient(bottom, #b3d3dc 0%, #abc9d2 2%, #6d8086 97%, #607176 100%);
}

.noproduct {
  margin-top: 5%;
  width: 70%;
  margin-left: 5%;
  background: url(../img/icon/unchecked.png) 1px no-repeat;
}

.noproduct span {
  font-size: 1.2em;
  margin-left: 5%;
}

.topbutton {
	width: 29%;
	height: 3%;
	position: absolute;
	margin-top: -2%;
	margin-left: 30%;
}

.topbutton button{
	cursor: pointer;
	height: 100%;
	width: 5%;
	font-size: 1.1em;
	background-color: #fff;
	border: 0px;
}

.topbutton #prev, .topbutton #succ{
	background-color: #fff;
	border: 0px;
	cursor: pointer;
	font-size: 1.1em;
}

.topbutton #prev:hover, .topbutton #succ:hover{
	color: #42a5f5;
}

/* ------- AGGIUNGI PRODOTTO & FORNITORE ------- */

.titleadd {
  margin-left: 50%;
  margin-top: 1%;
}

.titledit {
  margin-left: 40%;
  margin-top: 1%;
}

#addProducts {
  position: relative;
  margin-left: 20%;
  margin-top: 3%;
}

#addSupplier {
  position: relative;
  margin-left: 20%;
  margin-top: 3%;
}

#addProducts br , #addSupplier br {
  margin: 7px;
}

#addProducts input[type="text"] , #addSupplier input[type="text"] {
  padding: 3px;
  width: 250px;
  border-radius: 3px;
  border-width: 1px;
  border-color: Black;
}

#addProducts input[type="text"]:focus, #addSupplier input[type="text"]:focus {
    width: 400px;
    transition: ease-in-out, width .35s ease-in-out;
}

#addProducts input[type="number"] {
  padding: 3px;
  width: 150px;
  border-radius: 3px;
  border-width: 1px;
  border-color: Black;
}

#addProducts .desc {
  position: relative;
  top: -40px;
}
#addProducts textarea{
  border-radius: 3px;
  border-width: 1px;
  border-color: Black;
}

#addProducts button, #addSupplier button{
  cursor: pointer;
  margin-top: 2.5%;
  width: 160px;
  padding: 8px 0;
  display: block;
  border-radius: 14px;
  color: #F4F7F7;
  text-decoration: none;
  font-size: 1.1em;
  text-shadow: 0px -1px 2px #000; 
  border: 1px solid #607176;
  background: #607176;
  background: -o-linear-gradient(top, #b3d3dc 0%, #abc9d2 2%, #6d8086 97%, #607176 100%);
  background: -moz-linear-gradient(top, #b3d3dc 0%, #abc9d2 2%, #6d8086 97%, #607176 100%);
  background: -webkit-linear-gradient(top, #b3d3dc 0%, #abc9d2 2%, #6d8086 97%, #607176 100%);
  background: linear-gradient(top, #b3d3dc 0%, #abc9d2 2%, #6d8086 97%, #607176 100%);
}

#addProducts button:hover, #addSupplier button:hover,
#addProducts button:focus, #addSupplier button:focus {
  background: -o-linear-gradient(bottom, #b3d3dc 0%, #abc9d2 2%, #6d8086 97%, #607176 100%);
  background: -moz-linear-gradient(bottom, #b3d3dc 0%, #abc9d2 2%, #6d8086 97%, #607176 100%);
  background: -webkit-linear-gradient(bottom, #b3d3dc 0%, #abc9d2 2%, #6d8086 97%, #607176 100%);
  background: linear-gradient(bottom, #b3d3dc 0%, #abc9d2 2%, #6d8086 97%, #607176 100%);
}

/* ------- ORDINI ------- */
#orderForm {
  margin-left: 20%;
  margin-top: 1%;
}
.title {
  margin-top: 1%;
}

.reorders {
  text-decoration: none;
  color: Black;
}
.num {
  width: 40px;
  border-radius: 3px;
  border-style: solid;
  border-color: #3f51b5;
}
.ordbutton{
  cursor: pointer;
  float: left;
  width: 160px;
  margin: 0 auto;
  padding: 8px 0;
  display: block;
  border-radius: 14px;
  color: #F4F7F7;
  text-decoration: none;
  font-size: 1.1em; 
  text-shadow: 0px -1px 2px #000;
  border: 1px solid #607176;
  background: #607176;
  background: -o-linear-gradient(top, #b3d3dc 0%, #abc9d2 2%, #6d8086 97%, #607176 100%);
  background: -moz-linear-gradient(top, #b3d3dc 0%, #abc9d2 2%, #6d8086 97%, #607176 100%);
  background: -webkit-linear-gradient(top, #b3d3dc 0%, #abc9d2 2%, #6d8086 97%, #607176 100%);
  background: linear-gradient(top, #b3d3dc 0%, #abc9d2 2%, #6d8086 97%, #607176 100%);
}

.ordbutton:hover,
.ordbutton:focus {
  background: -o-linear-gradient(bottom, #b3d3dc 0%, #abc9d2 2%, #6d8086 97%, #607176 100%);
  background: -moz-linear-gradient(bottom, #b3d3dc 0%, #abc9d2 2%, #6d8086 97%, #607176 100%);
  background: -webkit-linear-gradient(bottom, #b3d3dc 0%, #abc9d2 2%, #6d8086 97%, #607176 100%);
  background: linear-gradient(bottom, #b3d3dc 0%, #abc9d2 2%, #6d8086 97%, #607176 100%);
}

.topbuttonord {
  width: 29%;
  height: 3%;
  position: absolute;
  margin-top: 0.5%;
  margin-left: 13%;
}

.topbuttonord button{
  cursor: pointer;
  height: 100%;
  width: 5%;
  font-size: 1.1em;
  background-color: #fff;
  border: 0px;
}

.topbuttonord #prev, .topbuttonord #succ{
  background-color: #fff;
  border: 0px;
  cursor: pointer;
  font-size: 1.1em;
}

.topbuttonord #prev:hover, .topbuttonord #succ:hover{
  color: #42a5f5;
}

/* -------- USER PAGE --------- */
#contUser {
  width: 85%;
  margin-left: 15%;
  height: auto;
}

#contSupplier {
  width: 95%;
  margin-left: 9%;
  height: auto;
}

.tableUser, .tableSupplier {
  border: 1px solid #327a81;
  border-radius: 10px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  max-width: calc(100% - 2em);
  margin-top: 5%;
  margin-left: 17%;
  overflow: hidden;
  width: 65%;
}

.headerUser{
  background-color: #91ced4;
  color: Black;
  font-size: 1.5em;
  padding: 1rem;
  text-align: center;
}

.tableUser table, .tableSupplier table{
  width: 100%;
}

.tableSupplier table th {
  color: Black;
}

.tableSupplier table td, table th {
  color: #2b686e;
  padding: 10px;
}
.tableSupplier table td {
  text-align: center;
  vertical-align: middle;
}
.tableSupplier table td:last-child {
  font-size: 0.95em;
  line-height: 1.4;
  text-align: left;
}
.tableSupplier table th {
  background-color: #daeff1;
  font-weight: 300;
}
.tableSupplier table tr:nth-child(2n) {
  background-color: white;
}
.tableSupplier table tr:nth-child(2n+1) {
  background-color: #edf7f8;
}

.tableUser table th {
  color: Black;
}

.tableUser table td, table th {
  color: #2b686e;
  padding: 10px;
}
.tableUser table td {
  text-align: center;
  vertical-align: middle;
}
.tableUser table td:last-child {
  font-size: 0.95em;
  line-height: 1.4;
  text-align: left;
}
.tableUser table th {
  background-color: #daeff1;
  font-weight: 300;
}
.tableUser table tr:nth-child(2n) {
  background-color: white;
}
.tableUser table tr:nth-child(2n+1) {
  background-color: #edf7f8;
}

button.remove, button.promote, button.supplier{
  cursor: pointer;
  float: left;
  width: 110px;
  margin-left: 18%;
  padding: 5px 0;
  display: block;
  border-radius: 14px;
  color: White;
  text-decoration: none;
  font-size: 0.9em; 
  text-shadow: 0px -1px 2px #000;
  border: 1px solid #607176;
  background: #607176;
  background: -o-linear-gradient(top, #b3d3dc 0%, #abc9d2 2%, #6d8086 97%, #607176 100%);
  background: -moz-linear-gradient(top, #b3d3dc 0%, #abc9d2 2%, #6d8086 97%, #607176 100%);
  background: -webkit-linear-gradient(top, #b3d3dc 0%, #abc9d2 2%, #6d8086 97%, #607176 100%);
  background: linear-gradient(top, #b3d3dc 0%, #abc9d2 2%, #6d8086 97%, #607176 100%);
}

button.promote {
    width: 140px;
}

button.supplier{
    width: 140px;
    margin-left: 20%;
}

button.remove:hover,
button.remove:focus, 
button.promote:hover,
button.promote:focus,
button.supplier:hover,
button.supplier:focus{
  background: -o-linear-gradient(bottom, #b3d3dc 0%, #abc9d2 2%, #6d8086 97%, #607176 100%);
  background: -moz-linear-gradient(bottom, #b3d3dc 0%, #abc9d2 2%, #6d8086 97%, #607176 100%);
  background: -webkit-linear-gradient(bottom, #b3d3dc 0%, #abc9d2 2%, #6d8086 97%, #607176 100%);
  background: linear-gradient(bottom, #b3d3dc 0%, #abc9d2 2%, #6d8086 97%, #607176 100%);
}

.tableUser .topbutton {
  width: 14%;
  height: 3%;
  position: fixed;
  margin-top: -21%;
  margin-left: 45%;
}

.tableUser .topbutton button{
  cursor: pointer;
  height: 100%;
  width: 10%;
  font-size: 1.1em;
  background-color: #fff;
  border: 0px;
}

.tableUser .topbutton #prev, .topbutton #succ{
  background-color: #fff;
  border: 0px;
  cursor: pointer;
  font-size: 1.1em;
}

.tableUser .topbutton #prev:hover, .topbutton #succ:hover{
  color: #42a5f5;
}

.tableSupplier .topbutton {
  width: 14%;
  height: 3%;
  position: fixed;
  margin-top: -13%;
  margin-left: 50%;
}

.tableSupplier .topbutton button{
  cursor: pointer;
  height: 100%;
  width: 10%;
  font-size: 1.1em;
  background-color: #fff;
  border: 0px;
}

.tableSupplier .topbutton #prev, .topbutton #succ{
  background-color: #fff;
  border: 0px;
  cursor: pointer;
  font-size: 1.1em;
}

.tableSupplier .topbutton #prev:hover, .topbutton #succ:hover{
  color: #42a5f5;
}

@media screen and (min-device-width: 1000px) and (max-device-width: 1100px){

    * {
      font-size: 0.99em;
    }

    .nav {
      top: 11%;
      height: 138%;
    }

    .menu ul li:hover ul {
     width: 117%;
    }

    ul.menuordini{
      top: 7.5%;
    }  

    ul.menuprodotti{
      width: 75%;
      top: 3.5%;
    }

    ul.menufornitori{
      width: 80%;
      top: 12%;
    }  

    .home {
      margin-left: 22%;
    }

    .searchboxproduct {
       width: 22%;
     }

    .searchboxproduct input {
       background: url(../img/icon/searchbox.ico) 260px no-repeat;
     }

    .panel {
      width: 17%;
    }

    .table {
        margin-top: -73%;
    }

    .topbutton {
      height: 4%;
      width: 35%;
      margin-left: 20%;
    } 

    .product {
      float: left;
      width: 28%;
    }

    .product li{
      padding: 2px;
    }

    button.btn{
      width: 85px;
      padding: 3px 0;
      margin-left: 4%;
      margin-bottom: 2.5%;
    }

    button.btnremove{
      width: 85px;
      padding: 3px 0;
      margin-top: -3%;
    }

    .tableUser button{
      margin-left: 15%;
    }  

    .tableUser .promote {
      margin-left: 3%;
    }

    .tableUser .supplier {
      margin-left: 14%;
      width: 130px;
    }

    .tableUser {
       width: 75%;
       margin-left: 12%;
    }

    .tableUser .topbutton {
      margin-top: -17.5%;
      margin-left: 45%;
    }

}

@media screen and (min-device-width: 1100px) and (max-device-width: 1200px){

    * {
      font-size: 0.99em;
    }

    .nav {
      top: 10%;
      height: 158%;
    }

    .menu ul li:hover ul {
     width: 107.5%;
    }

    ul.menuordini{
      top: 7.5%;
    }  

    ul.menuprodotti{
      width: 75%;
      top: 3.5%;
    }

    ul.menufornitori{
      width: 80%;
      top: 12%;
    }  

    .home {
      margin-left: 20%;
    }

    .searchboxproduct {
       width: 22%;
     }

    .searchboxproduct input {
       background: url(../img/icon/searchbox.ico) 220px no-repeat;
     }

    .panel {
      width: 17%;
    }

    .table {
        margin-top: -69%;
    }

    .topbutton {
      height: 4%;
      width: 35%;
      margin-left: 26%;
    } 

    .product {
      float: left;
      width: 25%;
    }

    .product li{
      padding: 4px;
    }

    button.btn{
      width: 80px;
      padding: 2px 0;
      margin-left: 4%;
      margin-bottom: 2.5%;
    }

    button.btnremove{
      width: 80px;
      padding: 2px 0;
      margin-top: -4.3%;
    }

    .tableUser button{
      margin-left: 15%;
    }  

    .tableUser .promote {
      margin-left: 3%;
    }

    .tableUser .supplier {
      margin-left: 14%;
      width: 130px;
    }

    .tableUser {
       width: 75%;
       margin-left: 12%;
    }

    .tableUser .topbutton {
      margin-top: -17.5%;
      margin-left: 45%;
    }

}

@media screen and (min-device-width: 1200px) and (max-device-width: 1300px){

    * {
    	font-size: 0.99em;
    }

    .nav {
      top: 9.2%;
      height: 152%;
    }

    .menu ul li:hover ul {
     width: 90%;
    }

    ul.menuordini{
      top: 7.5%;
    }  

    ul.menuprodotti{
      width: 75%;
      top: 3.5%;
    }

    ul.menufornitori{
      width: 80%;
      top: 12%;
    }  

    .home {
      margin-left: 19%;
    }

  	.searchboxproduct {
	  width: 22%;
	   }

  	.searchboxproduct input {
	     background: url(../img/icon/searchbox.ico) 240px no-repeat;
	   }

  	.panel {
  	  width: 17%;
  	}

    .table {
        margin-top: -63%;
    }

  	.topbutton {
      width: 36%;
      margin-left: 24%;
      margin-top: -2%;
    }

    .topbutton button{
      width: 5%;
    }

    .product {
      float: left;
      width: 23%;
    }

    .product li{
      padding: 4px;
    }

    button.btn{
      width: 80px;
      padding: 3px 0;
      margin-left: 4%;
      margin-bottom: 2.5%;
    }

    button.btnremove{
      width: 80px;
      padding: 3px 0;
      margin-top: -4.3%;
    }

    .tableUser button{
      margin-left: 15%;
    }  

    .tableUser .promote {
      margin-left: 3%;
    }

    .tableUser .supplier {
      margin-left: 14%;
      width: 130px;
    }

    .tableUser {
       width: 75%;
       margin-left: 12%;
    }

    .tableUser .topbutton {
      margin-top: -17.5%;
      margin-left: 45%;
    }

}

@media screen and (min-device-width: 1300px) and (max-device-width: 1400px){

    * {
      font-size: 0.99em;
    }

    .nav {
      top: 8.6%;
      height: 138%;
    }

    .menu ul li:hover ul {
     width: 90%;
    }

    ul.menuordini{
      top: 7.5%;
    }  

    ul.menuprodotti{
      width: 75%;
      top: 3.5%;
    }

    ul.menufornitori{
      width: 80%;
      top: 12%;
    }  

    .searchboxproduct {
    width: 22%;
     }

    .searchboxproduct input {
       background: url(../img/icon/searchbox.ico) 260px no-repeat;
     }

    .panel {
      width: 17%;
    }

    .table {
        margin-top: -58%;
    }

    .topbutton {
      height: 4%;
      width: 30%;
      margin-left: 26%;
    }

    .topbutton button{
      width: 5%;
    }

    .product {
      float: left;
      width: 23%;
    }

    .product li{
      padding: 4px;
    }

    button.btn{
      width: 85px;
      padding: 3px 0;
      margin-left: 4%;
      margin-bottom: 2.5%;
    }

    button.btnremove{
      width: 85px;
      padding: 3px 0;
      margin-top: -4.3%;
    }

    .tableUser button{
      margin-left: 15%;
    }  

    .tableUser .promote {
      margin-left: 3%;
    }

    .tableUser .supplier {
      margin-left: 14%;
      width: 130px;
    }

    .tableUser {
       width: 75%;
       margin-left: 12%;
    }

    .tableUser .topbutton {
      margin-top: -28.5%;
      margin-left: 45%;
    }

}

@media screen and (min-device-width: 1400px) and (max-device-width: 1500px){

    * {
    	font-size: 1em;
    }

    .nav {
      top: 7.4%;
      height: 138%;
    }

    .menu ul li:hover ul {
     width: 90%;
    }

    ul.menuordini{
      top: 7.5%;
    }  

    ul.menuprodotti{
      width: 75%;
      top: 3.5%;
    }

    ul.menufornitori{
      width: 80%;
      top: 12%;
    }  

    .table {
      margin-top: -56%;
    }

    .topbutton {
		height: 4%;
	}

    .product {
      float: left;
      width: 23%;
    }

    .product li{
      padding: 4px;
    }

    button.btn{
      width: 85px;
      padding: 3px 0;
      margin-left: 4%;
      margin-bottom: 2.5%;
    }

    button.btnremove{
      width: 85px;
      padding: 3px 0;
        margin-top: -4.3%;
    }

    .tableUser button{
      margin-left: 15%;
    }  

    .tableUser .promote {
      margin-left: 3%;
    }

    .tableUser .supplier {
      margin-left: 3%;
      width: 130px;
    }

    .tableUser {
        width: 75%;
          margin-left: 12%;
    }

} 

@media screen and (min-device-width: 1500px) and (max-device-width: 1600px){

    * {
      font-size: 1em;
    }

    .nav {
      top: 7.5%;
      height: 138%;
    }

    .menu ul li:hover ul {
     width: 90%;
    }

    ul.menuordini{
      top: 7.5%;
    }  

    ul.menuprodotti{
      width: 75%;
      top: 3.5%;
    }

    ul.menufornitori{
      width: 80%;
      top: 12%;
    }  

    .table {
      margin-top: -56%;
    }

    .topbutton {
    height: 4%;
  }

    .product {
      float: left;
      width: 23%;
    }

    .product li{
      padding: 4px;
    }

    button.btn{
      width: 85px;
      padding: 3px 0;
      margin-left: 9%;
      margin-bottom: 2.5%;
    }

    button.btnremove{
      width: 85px;
      padding: 3px 0;
        margin-top: -4.3%;
    }

    .tableUser button{
      margin-left: 15%;
    }  

    .tableUser .promote {
      margin-left: 3%;
    }

    .tableUser .supplier {
      margin-left: 3%;
      width: 130px;
    }

    .tableUser {
        width: 75%;
          margin-left: 12%;
    }

} 

@media screen and (min-device-width: 1600px) and (max-device-width: 1700px){

    * {
      font-size: 1em;
    }

    .nav {
      top: 7.5%;
      height: 138%;
    }

    .menu ul li:hover ul {
     width: 90%;
    }

    ul.menuordini{
      top: 7.5%;
    }  

    ul.menuprodotti{
      width: 75%;
      top: 3.5%;
    }

    ul.menufornitori{
      width: 80%;
      top: 12%;
    }  

    .table {
      margin-top: -56%;
    }

    .topbutton {
    height: 4%;
  }

    .product {
      float: left;
      width: 23%;
    }

    .product li{
      padding: 4px;
    }

    button.btn{
      width: 85px;
      padding: 3px 0;
      margin-left: 9%;
      margin-bottom: 2.5%;
    }

    button.btnremove{
      width: 85px;
      padding: 3px 0;
        margin-top: -4.3%;
    }

    .tableUser button{
      margin-left: 15%;
    }  

    .tableUser .promote {
      margin-left: 3%;
    }

    .tableUser .supplier {
      margin-left: 3%;
      width: 130px;
    }

    .tableUser {
        width: 75%;
          margin-left: 12%;
    }

} 

@media only screen and (min-width: 1700px) and (max-width: 1800px){

    .nav {
      top: 6.62%;
      height: 138%;
    }

	.searchboxproduct input {
	  background: url(../img/icon/searchbox.ico) 260px no-repeat;
	}

    .menu ul li:hover ul {
     width: 72%;
    }

    ul.menuordini{
      top: 7.5%;
    }  

    ul.menuprodotti{
      width: 75%;
      top: 3.5%;
    }

    ul.menufornitori{
      width: 80%;
      top: 12%;
    }  

    .table {
      margin-top: -48%;
    }

    .topbutton {
    height: 4%;
  }

    .product {
      float: left;
      width: 23%;
    }

    .product li{
      padding: 4px;
    }

    button.btn{
      width: 85px;
      padding: 3px 0;
      margin-left: 13%;
      margin-bottom: 2.5%;
    }

    button.btnremove{
      width: 85px;
      padding: 3px 0;
        margin-top: -3.1%;
    }

    .tableUser button{
      margin-left: 15%;
    }  

    .tableUser .promote {
      margin-left: 3%;
    }

    .tableUser .supplier {
      margin-left: 3%;
      width: 130px;
    }

    .tableUser {
        width: 75%;
          margin-left: 12%;
    }
} 

@media only screen and (min-width: 2000px) and (max-width: 2400px){

    .nav {
      top: 5.18%;
      height: 128%;
    }

    .table {
      margin-top: -38%;
    }

} 