html {
  background-color:#e8eaf6;
  margin:0px; 
  padding:0px;
  margin-left:auto; 
  margin-right:auto;
  width: 85%;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
}


.page {
  height: 100%;
  font-family: "Open Sans";
  font-size: 14px;
  font-smoothing: antialiased;
  background-color: rgba(255, 255, 255, 0.7);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

.pageHeader {
  position: absolute;
  display: block;
  width: 80%;
  height: 55px;
  background-position: top;
  background-color: #3f51b5;
  color: White;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 20px;
  vertical-align: middle;
}
.pageHeader .titletop {
  position: absolute;
  display: block;
  color: White;
  text-decoration: none;
    text-transform: uppercase;
  width: 40%;
  font-family: 'Pinyon Script', cursive;
  float: left;
  line-height: 40px;
  font-size: 1.5em;
  font-weight: 700;
}
.pageHeader .titletop:hover {
  text-shadow: 0px 0px 8px #FFFFFF;
}

.main {
  height: auto;
  width: auto;
  clear: both;
}
/* Tablet */
@media screen and (min-width: 600px){
.menu ul li{ font-size: 0.9em; } 
.nav {
  top: 13%;
  position: absolute;
  display: block;
  width: 18%;
  float: left;
  height: 109.5%;
  background-color: #7986cb;
}
.ord {
  margin-left:25.5%;
}
}

/* Desktop */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px){
.menu ul li{font-size: 1.1em;}
.nav {
  top: 9.9%;
  position: absolute;
  display: block;
  width: 15%;
  float: left;
  height: 87.1%;
  background-color: #7986cb;
}
.ord {
  margin-left:22%;
}
}
.menu .down {
  width: 100%;
   background: url("../img/icon/arrows.png")  no-repeat;
   background-position: left 105px top 15px;
}
.searchbox {
  width: 75%;
  position: absolute;
  display: block;
  border-radius: 4px;
  height: 6%;
  line-height: 30px;
  margin: 10%;
  background-color: White;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.searchbox input {
	border-radius: 4px;
  background: url(../img/icon/searchbox.ico) 130px no-repeat;
  padding-left: 2%;
  width: 100%;
  display: inlin-block;
  height: 50%;
  background-color: White;
  color: Black;
  font-family: "Lato";
  border: 0px;
}
.menu {
  height: 85%;
  width: 18%;
  float: left;
    position: absolute;
  display: block;
  margin-top: 30%;

  color: #212121;
}
.title {
  font-weight: 700;
  font-size: 1.1em;
  text-transform: uppercase;
  margin-left: 50%;
}
.menu ul {
  padding-left: 0%;
}

.main .nav .menu ul li {
  cursor: pointer;
  list-style: none;
  width: 518%;
  padding: 20%;
  font-weight: 600;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  transition: 0.25s all;
}

.menu li a {
  text-decoration: none;
   color: #212121;
}

.menu ul ul {
  width: 100%;
    position: absolute;
    top: 20%;
    margin-left: 535%;
    visibility: hidden;
}

.menu ul li:hover ul {
    visibility: visible;
    width: 100%;
}


.menu .iconhome {
  background: url(../img/icon/homeicon.png) 10px no-repeat;
}

.menu .iconproduct {
    background: url(../img/icon/producticon.png) 10px no-repeat;
}
.menu .iconuser {
    background: url(../img/icon/usersicon.png) 10px no-repeat;
}
.menu .iconprovider {
    background: url(../img/icon/providericon.png) 10px no-repeat;
}
.menu .iconorder {
    background: url(../img/icon/ordersicon.png) 10px no-repeat;
}
.main .nav .menu ul li:hover {
  background-color: #3f51b5;

}
.main .nav .menu ul li i {
  font-size: 1.4em;
  margin-right: 10px;
}

#products{
  background-color: #c5cae9;
  margin-top: 4.82%;
  width: 95.4%;
  height: 100%;
}
.title {
  top:5%;
  color: Black;
  height: 15%;
}

.productable {
  margin-left: 18%;
  color: Black;
}

.productable li {
  list-style: none;
}

#products .reorders {
  text-decoration: none;
}

.num {
  width: 40px;
  border-radius: 3px;
  border-style: solid;
  border-color: #3f51b5;
}