.cont {
	width: 100%;
	height: 90%;
	margin: 0;
	padding: 0;
	margin-top: -5%;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.prec {
	position: relative;
	margin-left: 5%;
	margin-top: 3%;
	height: 60px;
	width: 65px;
	background: url("../img/icon/previous.png") no-repeat;
	background-size: 80%;
}

.nomeprod {
	position: relative;
	font-size: 22pt;
	font-weight: bold;
	margin-top: 5%;
	margin-left: 40%;
}

.titolodesc {
	position: relative;
	margin-left: 40%;
	margin-top: -16%;
}

.descr {
	position: relative;
	width: 40%;
	margin-left: 47%;
	margin-top: -1.1%;
}

.titolocat {
	position: relative;
	margin-left: 40%;
	margin-top: 1%;
}

.cat {
	position: relative;
	margin-left: 47%;
	margin-top: -1.1%;
}

.titolopeso {
	position: relative;
	margin-left: 40%;
	margin-top: 1%;
}

.peso {
	position: relative;
	margin-left: 47%;
	margin-top: -1.1%;
}

.titoloprez {
	position: relative;
	margin-left: 40%;
	margin-top: 1%;
}

.prezzoprod {
	position: relative;
	margin-left: 47%;
	margin-top: -1.1%;
}

.addtitolo {
	position: relative;
	margin-left: 40%;
	margin-top: 2%;
}

.addproduct {
	position: relative;
	margin-left: 50%;
	margin-top: -1.6%;
}

.inputprod {
	padding: 7.5px;
}

.but {
	position: relative;
    margin-left: 58.30%;
    margin-top: -1.78%;
}

button {
    background-color: rgb(254,231,154) !important; 
    background-color: -moz-linear-gradient(top,  rgba(254,231,154,1) 0%, rgba(254,193,81,1) 100%) !important;
    background-color: -webkit-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%) !important;
    background-color: -o-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%) !important;
    background-color: -ms-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%) !important;
    background-color: linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%) !important;
    background: url("../img/icon/commerce2.png") 15px no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec151', endColorstr='#fee79a',GradientType=0 );
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    -ms-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    -o-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    border: 1px solid #D69E31;
    color: #85592e;
    cursor: pointer;
    height: 34px;
    width: 50px;
}

button:hover {
    background-color: rgb(254,193,81) !important;
    background-color: -moz-linear-gradient(top,  rgba(254,193,81,1) 0%, rgba(254,231,154,1) 100%) !important;
    background-color: -webkit-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%) !important;
    background-color: -o-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%) !important;
    background-color: -ms-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%) !important;
    background-color: linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec151', endColorstr='#fee79a',GradientType=0 );
    background: url("../img/icon/commerce2.png") 15px no-repeat;
}

.avviso {
	position: relative;
	margin-left: 42%;
	margin-top: -1.1%;
}

.iconavv {
	background: url("../img/icon/alarm.png") no-repeat;
	margin-left: 40%;
	margin-top: 3%;
	height: 20px;
	width: 20px;
}

 /* ------ FOOTER ------- */   
.footer {
    position: relative;
    background-color: #232f3e;
    width: 100%;
    height: 10%;
    margin-top: 35%;
    color: #FFF;
    text-align: center;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    margin-bottom: 5px;
}

.titlefooter {
    font-size: 1.2em;
}


@media only screen and (min-width: 1200px) and (max-width: 1600px){

	.titolodesc {
		position: relative;
		margin-left: 40%;
		margin-top: -26%;
	}
	.descr {
		position: relative;
		margin-left: 51%;
		width: 40%;
		margin-top: -1.5%;
	}

	.cat {
		position: relative;
		margin-left: 51%;
		margin-top: -1.5%;
	}

	.peso {
		position: relative;
		margin-left: 51%;
		margin-top: -1.5%;
	}

	.prezzoprod {
		position: relative;
		margin-left: 51%;
		margin-top: -1.5%;
	}

	.addtitolo {
		position: relative;
		margin-left: 40%;
		margin-top: 2.5%;
	}

	.addproduct {
		position: relative;
		margin-left: 52%;
		margin-top: -2%;
	}

	.inputprod {
		padding: 7.5px;
	}

	.but {
		position: relative;
	    margin-left: 63%;
	    margin-top: -2.5%;
	}

	.avviso {
		position: relative;
		margin-left: 42%;
		margin-top: -1.65%;
	}
}	

@media only screen and (min-width: 320px) and (max-width: 1000px){

	.titolodesc {
		position: relative;
		margin-left: 40%;
		margin-top: -38%;
	}

	.descr {
		position: relative;
		margin-left: 55%;
		width: 40%;
		margin-top: -2.3%;
	}

	.cat {
		position: relative;
		margin-left: 55%;
		margin-top: -2.3%;
		margin-bottom: 2%;
	}

	.peso {
		position: relative;
		margin-left: 55%;
		margin-top: -2.3%;
		margin-bottom: 2%;
	}

	.prezzoprod {
		position: relative;
		margin-left: 55%;
		margin-top: -2.3%;
		margin-bottom: 2%;
	}

	.addtitolo {
		position: relative;
		margin-left: 40%;
		margin-top: 5%;
	}

	.addproduct {
		position: relative;
		margin-left: 60%;
		margin-top: -3%;
	}

	.inputprod {
		padding: 7.5px;
	}

	.but {
		position: relative;
	    margin-left: 80%;
	    margin-top: -3.5%;
	}

	.footer {
    	margin-top: 95%;
	}

}


