.titleadd {
	margin-left: 50%;
	margin-top: 1%;
}

#addProducts {
	position: relative;
	margin-left: 20%;
	margin-top: 3%;
}

br {
	margin: 7px;
}

input[type="text"] {
	padding: 3px;
	width: 250px;
	border-radius: 3px;
	border-width: 1px;
	border-color: Black;
}

input[type="text"]:focus {
    width: 400px;
    transition: ease-in-out, width .35s ease-in-out;
}

input[type="number"] {
	padding: 3px;
	width: 150px;
	border-radius: 3px;
	border-width: 1px;
	border-color: Black;
}

.desc {
	position: relative;
	top: -40px;
}
textarea{
	border-radius: 3px;
	border-width: 1px;
	border-color: Black;
}

button{
  cursor: pointer;
  margin-top: 2.5%;
  width: 160px;
  padding: 8px 0;
  display: block;
  
  border-radius: 14px;
  color: #F4F7F7;
  text-decoration: none;
  font-size: 1.1em;
  
  text-shadow: 0px -1px 2px #000;
  
  border: 1px solid #607176;
  
  background: #607176;
  background: -o-linear-gradient(top, #b3d3dc 0%, #abc9d2 2%, #6d8086 97%, #607176 100%);
  background: -moz-linear-gradient(top, #b3d3dc 0%, #abc9d2 2%, #6d8086 97%, #607176 100%);
    background: -webkit-linear-gradient(top, #b3d3dc 0%, #abc9d2 2%, #6d8086 97%, #607176 100%);
  background: linear-gradient(top, #b3d3dc 0%, #abc9d2 2%, #6d8086 97%, #607176 100%);
}

button:hover,
button:focus {
  background: -o-linear-gradient(bottom, #b3d3dc 0%, #abc9d2 2%, #6d8086 97%, #607176 100%);
  background: -moz-linear-gradient(bottom, #b3d3dc 0%, #abc9d2 2%, #6d8086 97%, #607176 100%);
    background: -webkit-linear-gradient(bottom, #b3d3dc 0%, #abc9d2 2%, #6d8086 97%, #607176 100%);
  background: linear-gradient(bottom, #b3d3dc 0%, #abc9d2 2%, #6d8086 97%, #607176 100%);
}