/* ------ Slideshow ------- */

.ng-fader {
        background-color: #fff;
        position: relative;
        margin-left: 33%;
        margin-top: -62%;
        width: 40%;
}
.ng-fader ul {
    height: 100%;
    margin: 0;
    padding: 0
}
.ng-fader li {
    height: 100%;
    margin: 0;
    position: relative;
    list-style: none;
    width: 100%
}
.ng-fader li img {
    border: medium none;
    margin: 0;
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    -webkit-transition: opacity 1s ease 0s;
    -moz-transition: opacity 1s ease 0s;
    -o-transition: opacity 1s ease 0s;
    transition: opacity 1s ease 0s;
}
.ng-fader li img.show {
    opacity: 1;
    width: 100%;
    height: auto;
    position: relative;
}
.ng-fader-pagination {
    bottom: 15px;
    height: 20px;
    left: 0;
    position: absolute;
    width: auto
}
.ng-fader-pagination li {
    background-color: #fff;
    border-radius: 10px;
    display: inline-block;
    height: 12px;
    margin: 4px;
    padding: 5px;
    position: relative;
    width: 12px;
    cursor: pointer
}
.ng-fader-pagination li:first-child {
    margin: 4px 4px 4px 20px;
}
.ng-fader-pagination li.current {
    background-color: #666
}
.ng-fader-controls {
    bottom: 10px;
    height: 20px;
    position: absolute;
    right: 20px
}
.ng-fader-controls li {
    color: #FFF;
    display: inline;
    font-size: 1.2em;
    padding: 0 15px;
    position: relative;
    cursor: pointer
}
.ng-fader-controls li:nth-child(3) {
    padding-right: 0
}
.ng-fader-controls li.active {
    color: #666
}
.ngfader-play {
    width: 0;
    height: 0;
    margin: 0;
    display: inline-block;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 15px solid #FFF;
    cursor: pointer
}
.ngfader-play.active {
    border-left: 15px solid #666
}
.ngfader-stop {
    background-color: #FFF;
    height: 15px;
    margin: 0;
    display: inline-block;
    width: 15px;
    cursor: pointer
}
.ngfader-stop.active {
    background-color: #666
}
.ngfader-pause {
    background-color: #FFF;
    height: 15px;
    margin: 0;
    width: 5px;
    cursor: pointer;
    display: inline-block
}
.ngfader-pause:after {
    background-color: #FFF;
    height: 15px;
    margin-left: 3px;
    width: 5px;
    content: "";
    display: block;
    position: relative;
    left: 5px
}
.ngfader-pause.active,
.ngfader-pause.active:after {
    background-color: #666
}
.ngfader-forward {
    border-bottom: 8px solid transparent;
    border-left: 8px solid #FFF;
    border-top: 8px solid transparent;
    height: 0;
    margin: 0;
    width: 0;
    cursor: pointer;
    display: inline-block
}
.ngfader-forward:after {
    border-bottom: 8px solid transparent;
    border-left: 8px solid #FFF;
    border-top: 8px solid transparent;
    bottom: 8px;
    content: "";
    display: block;
    height: 0;
    margin: 0;
    position: relative;
    right: 0;
    width: 0
}
.ngfader-forward.active,
.ngfader-forward.active:after {
    border-left: 8px solid #666
}
.ngfader-back {
    border-bottom: 8px solid transparent;
    border-right: 8px solid #FFF;
    border-top: 8px solid transparent;
    height: 0;
    margin: 0;
    width: 0;
    cursor: pointer;
    display: inline-block
}
.ngfader-back:after {
    border-bottom: 8px solid transparent;
    border-right: 8px solid #FFF;
    border-top: 8px solid transparent;
    bottom: 8px;
    content: "";
    display: block;
    height: 0;
    position: relative;
    left: 8px;
    width: 0
}
.ngfader-back.active,
.ngfader-back.active:after {
    border-right: 8px solid #666
}

@media screen and (max-width: 740px) {
    .ng-fader-controls {
        display: none
    }
    .ng-fader-pagination {
    	bottom: 0;
    }
    .ng-fader-pagination li {
    	width: 6px;
    	height: 6px;
    }
    .ng-fader-pagination li:first-child {
    	margin: 4px;
    }
}

/* ----- TAB CATEGORIE ----- */
.panel {
    position: relative;
  text-decoration: none;
  height: 50%;
  width: 14%;
  margin-left: 18%;
  margin-top: 2%;

}

.panel .title {
    color: White;
    background-color: #4D4D4D;
  margin-top: 5%;
  margin: 0px;
  padding: 6px;
    border: 1px solid Black;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 2px;
}

.panel li {
    padding: 5px;
  list-style: none;
}

.panel li a{
width: 100%
height: 100%;
color: Black;
display: block;
text-decoration: none;
}

.panel li:hover {
    background-color: #3576B6;
    padding: 5px;
}

.panel hr {
    border-style: dotted;
    border-bottom: 5px #999933;
}


/* ----- Banner ------ */
.banner {
    position: absolute;
    margin-left: 73%;
    width: 25%;
    height: 25%;
    background: url("../img/banner1.jpg") no-repeat;
        background-size: 55%;
}

.banner2 {
    position: absolute;
    margin-left: 73%;
    width: 25%;
    height: 25%;
    background: url("../img/banner2.png") no-repeat;
    background-size: 55%;
    margin-top: 11.5%;
}

.banner3 {
    position: absolute;
    margin-left: 73%;
    width: 25%;
    height: 25%;
    background: url("../img/banner3.jpg") no-repeat;
    background-size: 55%;
    margin-top: 22.9%;
}

 
.vetrina {
    position: relative;
    width: 40%;
    left: 33%;

}
.product {
  background-color:White;
  float: left;
  height: 300px;
  width: 48%;
  margin-left: 1%;
  margin-top: 1%;
  color: #000;
  border-style: solid;
  border-width: 0.01px;
  border-color:Gray;
  border-radius: 10px;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  -moz-transition: -moz-transform 0.4s ease-in-out;
  -o-transition: -o-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out; 
}

.product a {
    text-decoration: none;
}

.product:hover {

  -webkit-transform: scale(1.1, 1.2);
  -moz-transform: scale(1.1, 1.2);
  -o-transform: scale(1.1, 1.2);
  transform: scale(1.1, 1.2);
}

.product ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.product li{
  padding: 14px;
  text-align: center;
}

.product li:first-child{
  background: url("../img/product/galaxys8.jpg") no-repeat;
  background-size: 65%;
  height: 150px;
  margin-left: 25%;
}
.product .prezzo{
  color: #3476B6;
  font-size: 1.3em;
}
.product .nome {
    color: Black;
    padding-top: 7px;
    font-size: 1.5em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    height: 15%;
}

.titolo_vetrina {
    position: relative; 
    left: 33%;
    top: 3px;
    font-size: 13px;
    color: #FFF;
    font-weight: normal;
    text-transform: none;
    padding: 5px;
    background-color: #232f3e;
    width: 739px;
    text-align: center;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 5px;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    margin-bottom: 5px;
    }
.footer {
    position: relative;
    background-color: #232f3e;
    width: 100%;
    height: 10%;
    margin-top: 35%;
    color: #FFF;
    text-align: center;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    margin-bottom: 5px;
}
.titlefooter {
    font-size: 1.2em;
}

/* Notebook */
@media only screen and (min-width: 1200px) and (max-width: 1600px){
    .ng-fader {
        background-color: #fff;
        position: relative;
        margin-left: 33%;
        margin-top: -62%;
        width: 40%;
    }
    .titolo_vetrina {
    position: relative; 
    left: 33%;
    top: 3px;
    font-size: 13px;
    color: #FFF;
    font-weight: normal;
    text-transform: none;
    padding: 5px;
    background-color: #232f3e;
    width: 520px;
    text-align: center;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 5px;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    margin-bottom: 5px;
    }
    
    .product {
  background-color:White;
  float: left;
  height: 260px;
  width: 48%;
  margin-left: 1%;
  margin-top: 1%;
  color: #000;
  border-style: solid;
  border-width: 0.01px;
  border-color:Gray;
  border-radius: 10px;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  -moz-transition: -moz-transform 0.4s ease-in-out;
  -o-transition: -o-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out; 
}
    .product li{
  padding: 10px;
  text-align: center;
}
    .product li:first-child{
      background: url("../img/product/galaxys8.jpg") no-repeat;
      background-size: 80%;
      height: 200px;
      margin-left: 20%;
    }
    .product li:last-child {
        margin-top: -20%;
    }
    .footer {
        position: relative;
        background-color: #232f3e;
        width: 100%;
        height: 10%;
        margin-top: 49%;
        color: #FFF;
        text-align: center;
        border-top: 2px solid #ccc;
        border-bottom: 2px solid #ccc;
        margin-bottom: 5px;
    }
    .titlefooter {
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 1600px) and (max-width: 1800px){
    .ng-fader {
        background-color: #fff;
        position: relative;
        margin-left: 33%;
        margin-top: -49.6%;
        width: 40%;
    }

}

/* Desktop */
@media only screen and (min-width: 1800px) and (max-width: 2000px){
    .ng-fader {
        background-color: #fff;
        position: relative;
        margin-left: 33%;
        margin-top: -43%;
        width: 40%;
    }

}





