<link rel="stylesheet" href="../public/css/style.css"/>
<link rel="stylesheet" href="../public/css/styleOffers.css"/>
<div class="cont">
	  <div class="titolo_vetrina">OFFERTE DEL GIORNO </div>
      <section class="vetrina" id="vetrina" ng-init="showOfferts(8)" ng-controller="productsController">  
      </section>
</div>
        <footer class="footer">
            <div class="titlefooter">Master Cart Record</div>
          
                Ardito Cristina &nbsp;&nbsp; Contigiani Mattia &nbsp;&nbsp; Ribera Marco  &nbsp;&nbsp;&copy;2017 - All rights reserved.
        </footer>